In [1]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
Collecting branca>=0.3.0
  Downloading branca-0.5.0-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in c:\users\hpe\anaconda3\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: numpy in c:\users\hpe\anaconda3\lib\site-packages (from folium) (1.21.5)
Requirement already satisfied: jinja2>=2.9 in c:\users\hpe\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hpe\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hpe\anaconda3\lib\site-packages (from requests->folium) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hpe\anaconda3\lib\site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hpe\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hpe\anaconda3\lib\site-packages (from requests->folium) (3.3)
Installing collected packages: branca, folium
Successfully installed branca-0.5.0 folium-0.12.1.post1

In [2]:
import folium

In [4]:
seoul_map=folium.Map(location=[37.55,126.98],zoom_start=12)
#지도를 HTML 파일로 저장하기
seoul_map.save('./dataset/서울지도.html')

In [6]:
seoul_map2=folium.Map(location=[37.55,126.98],zoom_start=12,tiles='Stamen terrain')
seoul_map3=folium.Map(location=[37.55,126.98],zoom_start=15,tiles='Stamen Toner')

seoul_map2.save('./dataset/서울지도2.html')

seoul_map3.save('./dataset/서울지도3.html')

In [16]:
import pandas as pd
df=pd.read_excel('./dataset/서울지역 대학교 위치.xlsx',engine='openpyxl')
df=df.rename(columns={'Unnamed: 0':'name'})

df.head()

           name         위도          경도
0  KAIST 서울캠퍼스   37.592573  127.046737
1         KC대학교  37.548345  126.854797
2  가톨릭대학교(성신교정)  37.585922  127.004328
3  가톨릭대학교(성의교정)  37.499623  127.006065
4      감리교신학대학교  37.567645  126.961610

In [17]:
df.set_index('name',inplace=True)
df.head()

                     위도          경도
name
KAIST 서울캠퍼스   37.592573  127.046737
KC대학교         37.548345  126.854797
가톨릭대학교(성신교정)  37.585922  127.004328
가톨릭대학교(성의교정)  37.499623  127.006065
감리교신학대학교      37.567645  126.961610

In [18]:
#대학교 위치 정보를 marker로 표시
seoul_map=folium.Map(location=[37.55,126.98],zoom_start=12)
for name,lat,lng in zip(df.index,df.위도,df.경도):
    folium.CircleMarker([lat,lng],popup=name,radius=10,color='blue',fill=True,fill_color='coral',fill_opacity=0.4).add_to(seoul_map)

seoul_map.save('./dataset/서울지도_대학교위치2.html')

In [ ]:
# 지도 영역에 단계구분도 표시 : Choropleth()
import json

# 경기도 인구변화 데이터를 불러와서 데이터프레임으로 변환
file_path = './dataset/경기도인구데이터.xlsx'
df = pd.read_excel(file_path, index_col='구분', engine= 'openpyxl')
df.columns = df.columns.map(str)

# 경기도 시군구 경계 정보를 가진 geo-json 파일 불러오기
geo_path = './dataset/경기도행정구역경계.json'
try:
    geo_data = json.load(open(geo_path, encoding='utf-8'))
except:
    geo_data = json.load(open(geo_path, encoding='utf-8-sig'))

# 경기도 지도 만들기
g_map = folium.Map(location=[37.5502,126.982], 
                   tiles='Stamen Terrain', zoom_start=9)

# 출력할 연도 선택 (2007 ~ 2017년 중에서 선택)
year = '2017'

# Choropleth 클래스로 단계구분도 표시하기
folium.Choropleth(geo_data=geo_data,    # 지도 경계
                 data = df[year],      # 표시하려는 데이터
                 columns = [df.index, df[year]],  # 열 지정
                 fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.3,
                 threshold_scale=[10000, 100000, 300000, 500000, 700000],
                 key_on='feature.properties.name',
                 ).add_to(g_map)

# 지도를 HTML 파일로 저장하기
g_map.save('./gyonggipopulation' + year + '.html')